* {
    box-sizing: border-box;
}

:root {
    --header-bg: #10375c;
    --primary-color: #2e80ce;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* ======== common    ========== */
a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    display: inline-block;
    min-width: 205px;
    height: 60px;
    background: var(--primary-color);
    -o-border-radius: 99px;
    -webkit-border-radius: 99px;
    -moz-border-radius: 99px;
    -ms-border-radius: 99px;
    border-radius: 99px;
    border: 1px solid var(--primary-color);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 60px;
    text-align: center;
    color: #ffffff;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.section-heading {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #10375c;
}

.section-desc {
    margin-top: 18px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #575f66;
}

/* ====== Header   ====== */
.header {
    background-color: var(--header-bg);
    min-height: 100vh;
    padding-top: 30px;
    padding-bottom: 110px;
}

.logo {
    font-size: 1rem;
    position: relative;
    display: inline-flex;
}

.logo__circle::after,
.logo__circle::before {
    content: "";
    display: inline-block;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background-color: var(--primary-color);
}

.logo__circle::after {
    width: 1.6em;
    height: 1.6em;
    background-color: #ffffff;
    position: absolute;
    left: 1.1em;
    top: 1.1em;
}

.logo__text {
    color: #ffffff;
    margin-left: 0.6em;
    line-height: 1.4em;
}

.logo__brand {
    display: block;
    font-weight: 400;
    font-size: 1.8em;
    text-align: right;
}

.logo__brand.logo__brand--small {
    font-weight: 300;
    font-size: 1.2em;
}

/* =======header-top======= */
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    display: flex;
}

.header-action__login,
.navbar__link {
    padding: 4px 21px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #c9d2da;
}

.navbar__link--active::before {
    content: "";
    display: inline-block;
    height: 6px;
    width: 6px;
    font-weight: 400;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    background: #ffffff;
    position: relative;
    top: -2px;
    left: -8px;
}

.navbar__link:hover,
.navbar__link--active {
    text-shadow: 1px 0 0 currentColor;
    color: #ffffff;
    font-weight: 400;
}

/* action */
.header-action {
    display: flex;
    align-items: center;
}

.header-action__signup {
    line-height: 1.75;
    min-width: 104px;
    height: 44px;
    margin-left: 7px;
}

/* =========Hero========== */
.hero {
    display: flex;
    margin-top: 76px;
    align-items: center;
}

.hero__content {
    width: 44%;
    flex-shrink: 0;
}

.hero__media {
    flex-grow: 1;
}

.hero__heading {
    font-weight: 600;
    font-size: 7rem;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.hero__desc {
    margin-top: 22px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #c9d2da;
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero__phone {
    margin-left: 38px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #ffffff;
}

.hero__images {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hero__img {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}

.hero__img:first-child {
    position: relative;
    margin-right: -6px;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
}

/* Service */
.services {
    margin: 170px 0;
}

.service__heading,
.service__desc {
    text-align: center;
}

.service__desc {
    width: 468px;
    margin-left: auto;
    margin-right: auto;
}

.service-row {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

.service__list {
    margin-bottom: 55px;
}

.service-item {
    display: flex;
    padding: 21px 22px 20px;
    width: 470px;
    border-radius: 10px;
    background-color: #fff;
}

.service-item:hover {
    position: relative;
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
}

.service-item:hover .service-item__icon {
    background: var(--primary-color);
    color: #fff;
}

.service-item__icon {
    width: 60px;
    height: 60px;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    background-color: #eff6fd;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: #10375c;
    margin-right: 19px;
}

.service-item__heading {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.28;
    color: #10375c;
}

.service-item__desc {
    margin-top: 8px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
}

/* work */
.work {
    padding: 100px 0;
    background: #f7fbff;
}

.work__desc {
    display: inline-block;
    width: 468px;
}

.work__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.work-item {
    padding: 43px 42px;
    border: 16px solid #eaf6ff;
    border-radius: 4px;
    -o-transition: 0.25s;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -ms-transition: 0.25s;
    transition: 0.25s;
}

.work-item:hover {
    border-color: #2e80ce;
    -o-transform: translateY(-16px);
    -webkit-transform: translateY(-16px);
    -moz-transform: translateY(-16px);
    -ms-transform: translateY(-16px);
    transform: translateY(-16px);
}

.work-item__heading {
    margin-top: 18px;
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 1.38;
    color: #10375c;
}

.work-item__desc {
    margin: 18px 0;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
}

.work-item__more {
    color: #2e80ce;
}
